:root{
    --nav-background-color: rgb(70, 255, 23);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -----------------NAVEGACIONLPM----------- */
/***********************
En GitHub Pages: https://alebarbaja.github.io/volver-a-empezar/
************************/

.hamburger {
    text-decoration: none;
    color: white;
  }

header {
    position: fixed;
    right: 0;
    margin:2rem;
    z-index: 99999999;
  }  
  
ul i {
    padding: 0;
    margin-right: 0.3em;
    padding-right: 0;

  }
  
li {
    list-style-type: none;
    padding: 1em 0;
  }

li a{
    text-decoration: none;
    color: #04284a;
    font-size: 2rem;
    line-height: 4rem;
}
  
i {
    padding: 1em;
  }
  
.fa-bars {
    transition: all .2s;
  }
  
.fa-bars:hover {
    color: white;
  }
  
.nav {
    font-family: 'Roboto', sans-serif;
    background-color: #ff294c;
    padding-top: 4rem;
    position: fixed;
    top: 0;
    height: 100%;
    width: 50%;
    max-width: 400px;
    text-align: center;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
    z-index:10000000000000;
  }
  
.nav:not(:target) {
    right: -100%;
    transition: right 1.5s;
  }
  
.nav:target {
    right: 0;
    transition: right 1s;
  }
  
#close-nav:not(:target) {
    right: -100%;
    transition: right 1.5s;
  }
  
#close-nav:target {
    right: 0;
    transition: all 1s;
  }
  
#close-nav:not(:target) {
    right: 0;
    transform: rotate(360deg);
  }
  
.nav a {
    border-bottom: 2px solid transparent;
    transition: all .2s ease-in-out;
  }
  
.nav a:not(.close):hover {
    border-bottom: 2px solid;
  }
  
.fa-heart {
    font-size: 1.5em;
    transition: all .1s ease-in-out;
  }
  
.fa-heart:hover {
    color: #ee6a6a;
    animation: pulse 1s infinite;
  }
  
.fa-times{
      font-size:3rem;
      color: #04284a
  }
  /* KEYFRAMES */
  
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.3);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
}


.text-align-rigth{
    text-align: right;
}
.img-iedes{
    height: 100%;
    width: 2rem;
}
/* ------------------------------------------ */
/* NAVBAR LA PUTA QUE TE PARIO */
/* ------------------------------------------ */


.is-full-size{
    height: 100vh;
    width: 100vw;
}

.background-full-screen{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: inherit;
}

/* -------------------------------
ARTICULO DESTACADO PAPA
------------------------------- */
.heteronormatividad{
    background-image: url(../resources/heteronormatividad-article.svg);
    width: 100%;
    height: auto;
}

.articulo-destacado{
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    color: white;
    font-weight: bold;
    line-height: 4rem;
    align-items: flex-end;
    padding-top: 5%;
    font-size: 5rem;
    line-height: 6rem;
    flex-direction: column;
    padding-top: 10vw;
    padding-right: 4vw;
}

.articulo-destacado a{
    text-decoration: none;
}
.articulo-destacado-titulo{
    text-align: right;
    font-size: 5vw;
    color: #ffe600;

    font-family: 'PT Mono', monospace;
}


/* ----------------------------
HISTORIASSSSS
-------------------------------- */
.historias-section{
    /* background-image: url(/resources/historias-background.svg); */
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #c3b1b1ff;
}

.home-title{
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.historias-title{
    margin-left: 2vw;
    font-size: 7vw;
    background-color: #fb6754;
    color: #4745d1;
    z-index: 2;
    padding-right: 10vw;
    padding-left: 10vw;

}

.historia-img{
    width: 70vw;
    height: 90%;
    /* margin-right: 20vw; */
    /* background-image: url(../resources/historias-img.svg); */
    position: absolute;
    /* left: 25vw; */
    /* z-index: 1; */
    margin-left: 25vw;
    
}

/* -----------------------------------
DIVERSIDADDDDDDDDDDDDDDDDDDDDDDDDDDDDD
----------------- */

.diversidad-section{
    background-color: #e09fb4ff;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    
}

.diversidad-img{
    /* background-image: url(../resources/VICTOR-HUGO-ROBLES.jpg); */
    float: left;
    width: 60vw;
    height: auto;
    align-self: center;
    /* margin-right: -15vw;
    margin-left: 8vw;
    margin-top: 15vh; */
    position: absolute;
    order: -1;
    margin-right: 70vh;
}

.diversidad-title{
    background-color: black;
    color: antiquewhite;
    z-index: 2;
    font-size: 7vw;
    /* right: 40rem; */
    /* margin-right: 25vw; */
    position: absolute;
    padding-left: 15vw;
    padding-right: 10vw;
}
/* ---------------------------------------- */

.feminismos-section{
    background-color: #ff8080ff;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.fem-img{
    width: 45vw;
    height: auto;
    float: left;
    position: absolute;
    margin-left: 40vw;
    order: 2;
}

.fem-title{
    background-color:  #04284a;
    color: #ff294c;
}


/* ------------------------------------------------ */
.ultimos-articulos{
    background-color: #04284a;
    
}

.title-ultimos-articulos{
    font-size: 16vw;
    text-align: center;
    padding-top: 5rem;
    color:#ffe600;
    /* position: absolute; */
}


.container-ultimos-articulos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    z-index: 2;
    margin-top: -20vh;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(233, 202, 202);
    text-align: center;
    line-height: 2rem;
}

.card1{
    background-color: crimson;
}

.card2{
    background-color: crimson;
}

.card3{
    background-color: crimson;
}


/* -------ELFOOTER------------ */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: lawngreen;
    height: 50vh;
    font-size: 1.5rem;
    width: 100vw;

}


/* --------------ESTILOS ARTICULOS-------------------
 */
.article{
    background-color: rgba(202, 195, 195, 0.829);
    width: 100vw;
}

.title-article{
    text-align: center;
    padding-top: 7rem;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size:4rem;
    /* background-color: #04284a; */
    color: #fb6754;
    word-break: break-word;
}
.container-grid{
    display: grid;
    grid-template-columns: 2fr 10fr 1fr;
    padding: 5rem 10rem;
    grid-gap: 10px 50px;
}

.column1{
    font-size: 2rem;
    line-height: 3rem;

}

.column2{
    line-height: 4rem;
    font-size: 1.5rem;
}

.break{
    display: block;
}

.parrafo{
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.first-letter::first-letter{
    font-size:6rem;
    float: left;
    margin-top: 1.75rem; 
    margin-right: 1rem;
}


/* -------------------CATEGORIASSSS------------- */

.title-category{
    font-size: 10vw;
    text-align: center;
    padding: 3rem;
}

.container-category{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin: auto 10vw;
}

.article-category{
    padding: 2rem 0;
    border-style:  double none;
    line-height: 2rem;
}

.category-article-title{
    font-size: 2rem;
}

@media screen and (max-width: 800px){

    .articulo-destacado-titulo{
        font-size: 8vw;
    }
    
    .historia-img,
    .fem-img,
    .diversidad-img{
        display: none;
    }

    .historias-section{
        background-image: url(../resources/historias-ventana.svg);
        padding: 0;
    }

    .feminismos-section{
        background-image: url(../resources/mujeres-indolentes.svg)
    }
    
    .diversidad-section{
        background-image: url(../resources/VICTOR-HUGO-ROBLES.jpg)

    }

    .historias-title,
    .diversidad-title,
    .fem-title{
        font-size:10vw;
        align-self: center;
    }
        
    .container-ultimos-articulos{
        grid-template-columns: 1fr;
        margin-top: 0;
    }
    
    .ultimos-articulos{
        height: 100%;
        padding: 7vh 0vw;
    }
    .title-ultimos-articulos{
        padding-top: 0;
    }
}
