:root{
    --nav-background-color: rgb(70, 255, 23);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



nav{
    background-color: transparent;
    padding: 1rem;
    height: 4rem;
}

.nav-links{
    display: flex;
    list-style: none;
    height: 2rem;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.nav-text{
    color:white;
    text-decoration: none;
}



.text-align-rigth{
    text-align: right;
}
.img-iedes{
    height: 100%;
    width: 2rem;
}
/* ------------------------------------------ */
/* NAVBAR LA PUTA QUE TE PARIO */
/* ------------------------------------------ */


.is-full-size{
    height: 100vh;
    width: 100vw;
}

.background-full-screen{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* -------------------------------
ARTICULO DESTACADO PAPA
------------------------------- */
header{
    background-image: url(/resources/heteronormatividad-article.svg);
}

.articulo-destacado{
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    color: white;
    font-weight: bold;
    line-height: 4rem;
    align-items: flex-end;
    padding-top: 5%;
    font-size: 5rem;
    line-height: 6rem;
    flex-direction: column;
    padding-top: 10vw;
    padding-right: 4vw;
}

.articulo-destacado-titulo{
    text-align: right;
    font-size: 5vw;
    font-family: 'PT Mono', monospace;
}

/* ----------------------------
HISTORIASSSSS
-------------------------------- */
.historias-section{
    /* background-image: url(/resources/historias-background.svg); */
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #c3b1b1ff;
}

.home-title{
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.historias-title{
    margin-left: 10vw;
    font-size: 7vw;
    background-color: #fb6754;
    color: #4745d1;
    z-index: 2;

}

.historia-img{
    width: 65vw;
    height: 75vh;
    /* margin-right: 20vw; */
    background-image: url(/resources/historias-img.svg);
    position: absolute;
    left: 25vw;
    
}

/* -----------------------------------
DIVERSIDADDDDDDDDDDDDDDDDDDDDDDDDDDDDD
----------------- */

.diversidad-section{
    background-color: #e09fb4ff;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.diversidad-img{
    background-image: url(/resources/23334025_10155340404579121_8440954999920904418_o.jpg);
    position: absolute;
    width: 25vw;
    height: 90vh;
    align-self: flex-start;
    margin-right: 65vw;
    margin-top: 5vh;
}


.diversidad-title{
    background-color: black;
    color: antiquewhite;
    z-index: 2;
    font-size: 7vw;
    /* right: 40rem; */
    margin-right: 25vw;

}
/* ---------------------------------------- */

.feminismos-section{
    background-color: #ff8080ff;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.femin-img{
    background-image: url(/resources/mujeresindolentes.jpg);
    position: absolute;
    left: 25vw;
    width: 65vw;
    height: 75vh;
}

.fem-title{
    background-color:  #04284a;
    color: #ff294c;
}


/* ------------------------------------------------ */
.ultimos-articulos{
    background-color: #04284a;
    position: absolute;
}

.title-ultimos-articulos{
    font-size: 13rem;
    text-align: center;
    padding: 1rem;
    color:#ffe600;
}


.container-ultimos-articulos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    z-index: 2;
    margin-top: -19vh;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(233, 202, 202);
    text-align: center;
    line-height: 2rem;
}

.card1{
    background-color: crimson;
}

.card2{
    background-color: crimson;
}

.card3{
    background-color: crimson;
}


/* -------ELFOOTER------------ */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: lawngreen;
    height: 50vh;
    font-size: 1.5rem;

}
/* @media screen and (max-width: 700px){

    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 3px;
    }


    nav {
        position: relative;
    }
    
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    
    .nav-links {
        position: fixed;
        background: var(--nav-background-color);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        transition: all 2s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    
    
    
} */